@import "../../styles/vars";

.testimonialContainer {
    display: flex;
    flex-direction: row;
    background-color: $palette-cornsilk;
    &.white {
        background-color: $white;
    }
    border-radius: $corner-radius;
    padding: $gap/2;
    text-decoration: none;
    color: $palette-gunmetal;

    > img {
        width: 2rem;
        opacity: .4;
        &:last-child {
            transform: scaleX(-1);
        }
    }
    .contentContainer {
        flex: 1;
    }

    .cardHeading {
        display: flex;
        flex-direction: row;
        gap: $gap/2;
        justify-content: center;

        img {
            border-radius: 100%;
            width: $corner-radius;
            height: $corner-radius;
        }

        .identity {
            display: flex;
            flex-direction: column;
            * {
                text-align: left;
                margin: 0;
                padding: 0;
            }

            label {
                opacity: .6;
                font-size: .8em;
            }
        }
    }

}