@import "../../styles/vars";

.heroContainer {
    height: 80vh;
    background-color: $palette-cornsilk;

    .heroInner {
        height: 100%;
        display: flex;
        flex-direction: row;
        @media all and (max-width: $width-med) {
            flex-direction: column;
        }
        gap:2rem;
        align-items: center;

        .IconButton {
            &:first-of-type { // cta
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        .pictureContainer {
            flex:1;
            position: relative;
            max-width: 80%;
            max-height: 80%;
            width: 25rem;
            height: 25rem;
        }

        .picture {
            width: 100%;
            height: 100%;
            border-radius: $theme-border-radius 0 $theme-border-radius 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom right;
            background-color: $palette-thistle;

            mask-image: url('/mask/hero.svg'), url('/mask/hero-top-right.svg'), url('/mask/hero-bottom-left.svg');
            mask-position: center, top right, bottom left;
            mask-repeat: no-repeat, no-repeat, no-repeat;
            mask-size: 100%, 101px*1.2, 240px*1.2 101px*1.2;
            mask-composite: subtract;
        }
        .iconButtonGroup {
            position: absolute;
            bottom:0;
            left:0;
            display: flex;
            flex-direction: row;
            gap: .6em;

            > * {
                background-color: $palette-moonstone;
            }
        }
        
        img {
            width: $icon-button-size *.75;
            height: $icon-button-size *.75;
            mix-blend-mode: multiply;
        }

        .textContainer {
            display: flex;
            flex-direction: column;

            h1 {
                font-size: clamp(4rem, 10vmin, 10rem);
                font-weight: 900;
                margin-top: 0;
            }

        }
    }
}