@import "../../styles/vars";

.heroContainer {
    height: 80vh;
    // background-color: $palette-cornsilk;
    position: relative;

    .heroInner {
        height: 30rem;
        gap: $gap;
        display: flex;
        flex-direction: row;

        @media all and (max-width: $width-max) {
            padding: 1rem;
        }

        @media all and (max-width: $width-med) {
            flex-direction: column;
            gap: $gap;
            height: 95%;
        }

        align-items: center;

        .IconButton {
            &:first-of-type {
                // cta
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        >* {
            text-align: left;
            position: relative;
            @media all and (min-width: $width-med) {
                flex: 1;
                height: 100%;
            }
            width: 100%;

            &.pictureContainer {
                flex: 1;
                opacity: 0;
                transform: translateY(4em);
                animation: .4s ease-out .2s forwards animateIn;
            }
        }

        .picture {
            width: 100%;
            height: 100%;
            border-radius: $theme-border-radius 0 $theme-border-radius 0;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: bottom right;
            background-color: $palette-thistle;

            mask-image: url('/mask/hero.svg'), url('/mask/hero-top-right.svg'), url('/mask/hero-bottom-left.svg');
            mask-position: center, top right, bottom left;
            mask-repeat: no-repeat, no-repeat, no-repeat;
            mask-size: 200%, 120px, auto 120px;
            mask-composite: subtract, add;

            filter: drop-shadow(.2em .4em .4em rgba($palette-thistle, 1));
        }

        .iconButtonGroup {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            flex-direction: row;
            gap: .6em;

            >* {
                background-color: $palette-moonstone;
            }
        }

        img {
            width: $icon-button-size *.75;
            height: $icon-button-size *.75;
            mix-blend-mode: multiply;
        }

        .textContainer {
            display: flex;
            flex-direction: column;

            h1 {
                font-size: clamp(3rem, 8vmin, 10rem);
                @media all and (min-width: $width-max) {
                    font-size: clamp(3rem, 10vmin, 10rem);
                }
                font-weight: 900;
                margin-top: 0;
            }

        }
    }

    .textContainer {
        > :first-child {
            @media all and (min-width: $width-med) {
                flex: 1;
            }
        }

        .countersContainer {
            display: flex;
            flex-direction: row;
            gap: $gap;
            align-content: space-between;

            h2,
            p {
                margin: 0;
                padding: 0;
            }
        }
    }

    .hideMobile {
        @media all and (max-width: $width-med) {
            display: none !important;
        }
    }
}


@keyframes animateIn {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}