@import "../../../styles/vars";

.figure {
    max-width: 100%;
    width: 95%;
    vertical-align: text-top;
    overflow: visible;

    img {
        &.padding {
            padding: 1rem;
            background: $colo-background;
        }
        &.transparent {
            filter: drop-shadow(0 .4rem 1.2rem rgba(#111, .4));
        }
        &:not(.transparent) {
            box-shadow: 0 .2em 1em rgba(#111, .4);
            border-radius: 1em;
        }
    }

    caption {
        width: 100%;
        font-size: .8em;
        opacity: .7;
        display: block;
        padding: .6em;
    }

    @media all and (min-width: $width-max) {
        width: 45%;
    }

    margin: 1em 2.5%;
}