@import "../../styles/vars";

.logoStripContainer {
    .inner {
        flex:1;
        display: flex;
        flex-direction: row;
        gap: $gap*3;
        align-items: center;
        margin: 1em 0;
        animation: 30s linear infinite scroller;

        &:hover {
            animation-play-state: paused;
        }
    }

    a,
    img {
        height: 4em;
        width: 6rem;
        object-fit: contain;
    }

    img {
        transition: filter .2s ease-in-out;

        &:not(:hover) {
            filter: grayscale(1);
        }
    }
}

@keyframes scroller {
    100% {
        transform: translateX(-34%);
    }
}