@import "../../../styles/vars";

.projectContainer {
    .hero {
        height: 50vmin;
        min-height: 20vh;
        margin-bottom: -10vh;
        display: flex;
        justify-items: center;

        .inner {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .projectContainerInner {
        background-color: rgba(#fff, .8);
        backdrop-filter: blur(1em);
        border-radius: 1em;
        border-top: 1px solid #fff;
        padding: $padding-body;

        @media all and (max-width: $width-max) {
            padding: $padding-body/2;
        }

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            &:first-child {
                margin-top: 0;
            }
        }

        *:not(figure) {
            width: 100%
        }

        :not(figure)+figure:has(+ :not(figure)) {
            width: 95%;
        }
    }
}