@import "../../../styles/vars";

.projectContainer {
    .hero {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 35vh;
        margin-bottom: -10vh;
    }
    .projectContainerInner {
        background-color: #fff;
        padding: $padding-body;

        img {
            width: 100%;
        }
    }
}