@import "../../styles/vars";

.outerContainer {
  text-align: left;
  display: flex;
  flex-direction: row;
  gap: $gap;
  background-color: $white;
  border-radius: $corner-radius;
  @media print {
    max-width: none;
    border-radius: 0;
  }
  @include tile-shadow;

  .portrait {
    width: 100%;
    height: 11rem;
  }
  h2 {
    font-size: 1.7rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  a {
    text-decoration: none;
    font-weight: 800;
    color: $palette-gunmetal;
  }

  small {
    display: flex;
    gap: $gap/4;
    align-items: center;
    font-weight: 400;
    margin-top: 0.6em;
    img {
      width: 1em;
      height: 1em;
    }
  }

  .article {
    margin: 3rem 0;
    display: block;
  }

  // Dividers
  > * {
    display: flex;
    flex-direction: column;
    // gap: $gap;
    position: relative;
    padding: $corner-radius/2;

    > * {
      margin: $gap/2 0;
      padding: $gap/2 0;
    }
  }
  .primaryContainer {
    flex: 1;
    > :not(:last-child) {
      border-bottom: 1px solid rgba($palette-gunmetal, 0.2);
    }
  }

  .secondaryContainer {
    width: 100%;
    @media all and (min-width: $width-med) {
      width: 20rem;
    }
    &:first-child {
      border-right: 1px solid rgba($palette-gunmetal, 0.2);
      padding-right: $gap;
    }
    h3 {
      border-bottom: 1px solid rgba($palette-gunmetal, 0.2);
    }
  }

  .intro {
    text-align: center;
  }

  .toolsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $gap;
    padding: $gap/2;
    > * {
      width: 2rem;
      height: 2rem;
    }
  }

  .experienceTitle {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    padding: $gap/4 0;
    justify-content: center;

    h3 {
      margin: 0;
    }

    img {
      height: 2.4rem;
    }

    p {
      opacity: 0.6;
      margin: 0;
      text-wrap: nowrap;
    }

    .experienceSubtitle {
      gap: $gap/2;
      display: flex;
      flex-direction: row;
      align-items: center;
      flex: 1;
    }
  }

  .mentorImages {
    display: flex;
    gap: $gap;
    img {
      width: 4rem;
      height: 4rem;
    }
  }
}
