@import "../../styles/vars";
@import "../../styles/theme.module";

.containedInner {
  max-width: $width-sml;
  text-align: left;
}

.picture {
  background: url(/img/me.png) center bottom no-repeat $palette-moonstone;
  background-size: contain;
  margin: 0 0 1em 1em;
  border-radius: $corner-radius;
  float: right;
  width: 100%;
  height: 15em;
  @media all and (min-width: $width-max) {
    width: 50%;
  }
}
