@import "../../../styles/vars";

.heroContainer {
  height: 80vh;
  // background-color: $palette-cornsilk;
  position: relative;

  .pictureContainer {
    @include tile-shadow;
  }

  .heroInner {
    height: 30rem;
    gap: $gap;
    display: flex;
    flex-direction: row;

    @media all and (max-width: $width-max) {
      padding: 1rem;
    }

    @media all and (max-width: $width-med) {
      flex-direction: column;
      gap: $gap;
      height: 95%;
    }

    align-items: center;

    .IconButton {
      &:first-of-type {
        // cta
        position: absolute;
        left: 0.4rem;
        top: 0.4rem;

        width: 6rem;
        height: 6rem;
        background-size: 50%;
      }
    }

    > * {
      text-align: left;
      position: relative;
      @media all and (min-width: $width-med) {
        flex: 1;
        height: 100%;
      }
      width: 100%;

      &.pictureContainer {
        flex: 1;
        opacity: 0;
        transform: translateY(4em);
        animation: 0.4s ease-out 0.2s forwards animateIn;
      }
    }

    .picture {
      width: 100%;
      height: 100%;
      border-radius: 0 $theme-border-radius 0 $theme-border-radius;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: bottom right;
      background-color: $palette-thistle;

      mask-image: url("/mask/hero.svg"), url("/mask/hero-top-left.svg"),
        url("/mask/hero-bottom-right.svg");
      mask-position: center, top left, bottom right;
      mask-repeat: no-repeat, no-repeat, no-repeat;
      mask-size: 200%, 200px, auto 120px;
      mask-composite: subtract, add;

      filter: drop-shadow(0.2em 0.4em 0.4em rgba($palette-thistle, 1));
    }

    .iconButtonGroup {
      position: absolute;
      bottom: 0;
      right: 1rem;
      display: flex;
      flex-direction: row;
      gap: 0.6em;

      > * {
        background-color: $palette-moonstone;
      }
    }

    img {
      width: $icon-button-size * 0.75;
      height: $icon-button-size * 0.75;
      mix-blend-mode: multiply;
    }

    .textContainer {
      display: flex;
      flex-direction: column;

      h1 {
        font-size: clamp(3rem, 8vmin, 10rem);
        @media all and (min-width: $width-max) {
          font-size: clamp(3rem, 10vmin, 10rem);
        }
        font-weight: 900;
        margin-top: 0;
      }
    }
  }

  .textContainer {
    > :first-child {
      @media all and (min-width: $width-med) {
        flex: 1;
      }
    }

    .countersContainer {
      display: flex;
      flex-direction: row;
      gap: $gap;
      align-content: space-between;

      h2,
      p {
        margin: 0;
        padding: 0;
      }
    }
  }

  .hideMobile {
    @media all and (max-width: $width-med) {
      display: none !important;
    }
  }
}

@keyframes animateIn {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
