@import "../../../styles/vars";

.dotsContainer {
  circle {
    @for $i from 1 through 100 {
      &:nth-child(#{$i}) {
        animation: anim-#{$i}
          #{10 +
          random() *
          15}s
          #{random() *
          11}s
          forwards
          infinite;
        @media all and (max-width: $width-med) {
          animation-name: anim-mobile-#{$i};
        }
      }

      @keyframes anim-#{$i} {
        $x: (random() * 683) - (683/2);
        0% {
          transform: translate(#{$x / 10}px, -0px);
        }
        10% {
          opacity: 1;
        }
        90% {
          opacity: 1;
        }
        97% {
          opacity: 0;
        }
        100% {
          transform: translate(#{$x}px, -290px);
        }
      }
      @keyframes anim-mobile-#{$i} {
        $x: (random() * 683) - (683/2);
        0% {
          transform: translate(#{$x / 10}px, 0);
        }
        10% {
          opacity: 1;
        }
        90% {
          opacity: 1;
        }
        97% {
          opacity: 0;
        }
        100% {
          transform: translate(#{$x}px, -200%);
        }
      }
    }

    opacity: 0;
  }
}
