@import "../../styles/vars";

.timelineContainer {
    display: flex;
    flex-direction: column;
    gap: $gap;
    position: relative;
    z-index: 2;
    max-width: 50rem;
    margin: $gap auto;

    &:after {
        content:'';
        position: absolute;
        top: 4rem;
        bottom: 4rem;
        left: 0;
        width: 50%;
        @media all and (max-width: $width-med) {
            width: 100%;
        }
        border-right: .4em solid rgba($white, .6);
        z-index: -1;
    }

    > * {
        &:nth-child(even) {
            align-self: end;
        }
    }
}