@import "../../../styles/vars";

.navContainer {
  height: $nav-size;
  transition: height 0.2s ease-in;
  background-color: rgba($white, 0.4);
  @media all and (max-width: $width-sml) {
    &.openMenu {
      height: 100vh;
      background-color: rgba($white, 0.6);
    }
  }
  backdrop-filter: blur(1rem);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 10;

  .navContainerInner {
    width: 100%;
    max-width: $width-max;
    margin: 0 auto;
    > a {
      display: flex;
      align-items: center;
    }
  }

  @media print {
    display: none;
  }

  > div {
    width: 100%;
    height: $nav-size;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  img {
    width: 2rem;
    height: 2rem;
    margin: 0 0.5em;
  }
}
.links {
  display: flex;
  flex-direction: row;
  align-items: start;

  @media all and (max-width: $width-sml) {
    flex-direction: column;
    position: absolute;
    top: $nav-size;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in;

    > * {
      width: 100%;
    }

    .openMenu & {
      opacity: 1;
    }
  }

  a {
    font-weight: 600;
    text-decoration: none;
    color: $palette-gunmetal;
    height: $nav-size;
    line-height: $nav-size;
    transition: color 0.8s ease-in-out;
    padding: 0 0.5em;

    &:hover {
      color: $palette-coral;
      transition: color 0.2s ease-in-out;
    }
  }

  .subLinks {
    display: flex;
    flex-direction: column;
    max-height: $nav-size;
    height: 100vh;
    overflow-y: hidden;
    transition: height 0.2s ease-in;

    &:hover {
      max-height: $nav-size * 3;
    }

    > *:not(:first-child) {
      @media all and (min-width: $width-sml) {
        background-color: rgba($white, 0.4);
        backdrop-filter: blur(1rem);
      }
      opacity: 0.8;
    }
  }
}
