@import "../../../styles/vars";

.navContainer {
  height: $nav-size;
  background-color: rgba($white, 0.2);
  backdrop-filter: blur(1rem);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  z-index: 10;

  @media screen {
    + * {
      padding-top: 3rem;
    }
  }

  @media print {
    display: none;
  }

  > * {
    filter: drop-shadow(0 0.2em 0.4em rgba($white, 0.8));
  }

  > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  img {
    width: 2rem;
    height: 2rem;
  }

  .links {
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;

    a {
      font-weight: 600;
      text-decoration: none;
      color: $palette-gunmetal;
      transition: color 0.8s ease-in-out;

      &:hover {
        color: $palette-coral;
        transition: color 0.2s ease-in-out;
      }
    }
  }
}
