@import "../../../styles/vars";

.footerContainer {
  background-color: $palette-gunmetal;
  padding: 2em;
  * {
    color: $white;
    text-decoration: none;
  }

  .footerContainerInner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media all and (max-width: $width-med) {
      flex-direction: column;
    }

    > * {
      display: flex;
      flex-direction: row;
      gap: $gap;
      align-items: center;
    }
  }
}
