@import "../../styles/vars";

.tileContainer {
    background-color: $white;
    padding: $corner-radius/4 $corner-radius/2;
    border-radius: $corner-radius/2;
    text-align: left;
    width: 80%;
    max-width: 35rem;

    opacity: 0;
    transform: translateY(4em);

    &.inView {
        animation: .4s ease-out forwards animateIn;
        // @for $i from 1 through 5 {
        //     &.inView:nth-child(#{$i}) {
        //       animation: .4s ease-out #{$i/5}s forwards animateIn;
        //     }
        //   }
    }

    h3 {
        font-size: 1.4em;
    }

    .secondaryContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: $gap/2;
        color: rgba($palette-gunmetal, .8);

        img {
            height: 2rem;
            object-fit: contain;
        }
    }
}


@keyframes animateIn {
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}