@import "./vars";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  padding: 0;

  font-size: $font-size;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2em;
  color: $palette-gunmetal;

  background-color: $palette-cornsilk;
  // background: url('/pattern/lisbon.svg') center repeat $palette-cornsilk;
  // background: url('/pattern/overlapping-circles.svg') center space repeat $palette-cornsilk;
  background-size: 80px;

  // background: url('/pattern/azulejos.svg') center space repeat $palette-cornsilk;
  // background-size: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1em;
  font-style: normal;
  margin: 0.7em 0 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

.contained {
  position: relative;
  text-align: center;
  width: 100%;
  max-width: $width-max;
  margin-left: auto;
  margin-right: auto;

  @media all and (max-width: $width-max) {
    padding: 0 $gap/2;
  }
}

.section {
  width: 100%;
  padding-top: $corner-radius;
  padding-bottom: $corner-radius;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &:first-child:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    height: $nav-size;
    background-color: $white;
  }

  &.unwhite {
    // text-shadow: 0 0 10px $palette-cornsilk, 0 0 20px $palette-cornsilk,
    //   0 0 30px $palette-cornsilk, 0 0 40px $palette-cornsilk,
    //   0 0 50px $palette-cornsilk, 0 0 60px $palette-cornsilk,
    //   0 0 70px $palette-cornsilk;

    .tag:not(:hover) {
      background-color: rgba($palette-cornsilk, 0.8);
      text-shadow: none;
    }

    &:after {
      background-color: $white;
    }
  }

  &:not(.unwhite) {
    background-color: $white;
    &:before {
      $size: 48px;
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: -$size;
      height: $size;
      background: url("/mask/reverse-corner-left-white.svg") bottom left
          no-repeat,
        url("/mask/reverse-corner-right-white.svg") bottom right no-repeat;
    }
  }

  &:not(:last-child) {
    border-radius: 0 0 $corner-radius $corner-radius;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: $corner-radius;
      z-index: -1;
      background-color: $palette-cornsilk;
      z-index: -1;
    }
  }
}

.link {
  color: $palette-coral;
  font-weight: 600;
  text-decoration: none;
}
